html {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 20px;
}
body {
  color: #212121;
  font-size: 14px;
  line-height: 2;
}
html,
body {
  height: 100%;
}
body,
pre,
figure,
code,
tr,
td,
ul {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  position: relative;
  margin: 0;
  color: #212121;
}
h1 {
  font-size: 2em;
}
hr {
  margin: 20px 0;
  height: 2px;
  border: none;
  background-color: #ddd;
  background-image: repeating-linear-gradient(-45deg, #fff, #fff 4px, transparent 4px, transparent 8px);
}
pre,
code {
  line-height: 1.5;
}
a {
  color: #212121;
  text-decoration: none;
}
a:hover {
  color: #888585;
}
blockquote {
  margin: 0;
  padding: 0 0.6rem;
  border-left: 0.2rem solid #dfe2e5;
  color: #212121;
}
.container {
  height: 100%;
}
.container code {
  padding: 0.1rem 0.2rem;
  background: rgba(27, 31, 35, 0.05);
  word-wrap: break-word;
  font-size: 14px;
}
.container .main {
  max-width: 40rem;
  margin: 0 auto;
  padding: 1.5rem 1rem;
  min-height: calc(100% - 11.2rem);
}
.header {
  background-color: #000;
  height: 2rem;
  display: flex;
}
.header-content {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  max-width: 40rem;
  margin: 0 auto;
  padding: 0 1rem;
}
.header-title-logo {
  color: #fff;
  font-size: 1rem;
  font-family: "Comic Sans MS", cursive, LiSu, sans-serif;
  text-decoration: none;
}
.header .header-menu {
  margin: 0;
  padding: 0;
}
.header .header-menu-item {
  display: inline-block;
  margin-right: 0.5rem;
}
.header .header-menu-item > a {
  font-family: Georgia, Cambria, Times New Roman, Times, serif;
  color: #fff;
  text-decoration: none;
}
.header .header-menu-item > a:hover {
  color: #f2f2f2;
}
.posts .post:first-child {
  margin-top: 0;
  border-top: none;
}
.posts .post {
  margin: 0.5rem auto;
  padding: 0.75rem 0px;
  background-color: #fff;
}
.posts .post-content a {
  border-bottom: 1px solid #999;
}
.posts .post-title {
  font-size: 1.5em;
}
.posts .post-title .post-title-link {
  transition: all 0.5s ease-in-out;
}
.posts .more {
  font-size: 12px;
  display: inline-block;
  padding: 0 0.5rem;
  height: 1.5rem;
  line-height: 1.5rem;
  background: #f2f2f2;
  color: #212121;
  text-align: center;
  transition: all 0.3s ease-in-out;
}
.posts .more:hover {
  background: #e6e5e5;
}
.posts > hr:nth-last-child(1) {
  display: none;
}
.post-meta {
  color: #999;
  font-size: 12px;
}
.post-meta a {
  color: inherit;
}
.post-meta-split {
  margin: 0 2px;
}
.post-info-title {
  font-weight: 400;
}
.post-info-content a {
  border-bottom: 1px solid #999;
}
.post-list-no-des {
  list-style: none;
  padding: 0;
}
.post-list-no-des-item {
  margin: 5px 0;
  display: flex;
}
.post-list-no-des-item-date {
  display: inline-block;
  margin-right: 10px;
  color: #888585;
  width: 50px;
}
.category-all .category-list-item {
  list-style: circle;
  margin-bottom: 5px;
}
.category-all .category-list-item a {
  border-bottom: 1px solid #888585;
  display: inline-block;
  line-height: 1.5;
}
.category-all .category-list-count {
  margin-left: 5px;
  color: #888585;
}
.category-all .category-list-count::before {
  content: "(";
}
.category-all .category-list-count::after {
  content: ")";
}
.tag-all .tag-list-item {
  list-style: circle;
  margin-bottom: 5px;
}
.tag-all .tag-list-item a {
  border-bottom: 1px solid #888585;
  display: inline-block;
  line-height: 1.5;
}
.tag-all .tag-list-count {
  margin-left: 5px;
  color: #888585;
}
.tag-all .tag-list-count::before {
  content: "(";
}
.tag-all .tag-list-count::after {
  content: ")";
}
.page-nav {
  padding: 0.5rem 0;
  text-align: center;
  background-color: #fff;
}
.page-nav .page-number {
  display: inline-block;
  margin: 0 0.2rem;
  min-width: 1.2rem;
  height: 1.2rem;
  text-align: center;
  line-height: 1.2rem;
}
.page-nav .current {
  background: #f2f2f2;
  cursor: default;
}
.page-nav .prev {
  float: left;
}
.page-nav .next {
  float: right;
}
/* @import "plugins/github-gist"; */
.highlight,
.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #abb2bf;
  background: #282c34;
}
.hljs-keyword,
.hljs-operator {
  color: #f92672;
}
.hljs-pattern-match {
  color: #f92672;
}
.hljs-pattern-match .hljs-constructor {
  color: #61aeee;
}
.hljs-function {
  color: #61aeee;
}
.hljs-function .hljs-params {
  color: #a6e22e;
}
.hljs-function .hljs-params .hljs-typing {
  color: #fd971f;
}
.hljs-module-access .hljs-module {
  color: #7e57c2;
}
.hljs-constructor {
  color: #e2b93d;
}
.hljs-constructor .hljs-string {
  color: #9ccc65;
}
.hljs-comment,
.hljs-quote {
  color: #b18eb1;
  font-style: italic;
}
.hljs-doctag,
.hljs-formula {
  color: #c678dd;
}
.hljs-deletion,
.hljs-name,
.hljs-section,
.hljs-selector-tag,
.hljs-subst {
  color: #e06c75;
}
.hljs-literal {
  color: #56b6c2;
}
.hljs-addition,
.hljs-attribute,
.hljs-meta-string,
.hljs-regexp,
.hljs-string {
  color: #98c379;
}
.hljs-built_in,
.hljs-class .hljs-title {
  color: #e6c07b;
}
.hljs-attr,
.hljs-number,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-pseudo,
.hljs-template-variable,
.hljs-type,
.hljs-variable {
  color: #d19a66;
}
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-symbol,
.hljs-title {
  color: #61aeee;
}
.hljs-emphasis {
  font-style: italic;
}
.hljs-strong {
  font-weight: 700;
}
.hljs-link {
  text-decoration: underline;
}
.highlight .gutter {
  padding: 0 5px;
  color: #4e5d65;
}
.footer {
  background-color: #f2f2f2;
}
.footer-content {
  padding: 1rem;
  text-align: center;
}
